.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 260px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.image {
  width: 50%;
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 8px 0;
}

.price {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #4a63e7;
  font-weight: 300;
}

.link:hover {
  text-decoration: underline;
}
