/* .container{
    height: 70px;
    align-content: center;
    align-items: center;
    padding: 24px;
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 24px;
    background-color: lightblue;

}
.link{
    color: black;
    text-decoration: none;
    font-size: larger;
}
.link:hover{
    color: darkkhaki;
} */

.container {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: #f0f0f0;
}

.link {
  text-decoration: none;
  color: black;
}

.activeLink {
  font-weight: bold;
  color: blue;
}