.container {
  background-color: rgb(56, 196, 196);
  margin: 24px 32px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.results {
  background-color: rgb(177, 67, 67);
  margin: 24px 32px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.male {
  background-color: rgb(69, 28, 109);
}

.female {
  background-color: lightpink;
}